html {
  background-color: #B8B8B8;
}

body {
  font-family: sans-serif;
}

body h1 {
  padding-top: 10px;
  text-align: center;
  font-size: 60px;
}

body h3 {
  padding-top: 10px;
  text-align: center;
  font-size: 30px;
}


button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  font-size: 30px;
}

.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

section {
  text-align: center;
  margin-top: 30px;
  font-size: 50px;
  font-weight: bold;
  font-family: geneva;
}
